Esb/rezek-second-project-assigment/src/main/mule/rezek-second-project-assigment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_Blog_config" doc:name="HTTP Listener config" doc:id="4e0ecdf8-8c06-4c19-9a54-79bbef433162" basePath="/api/blog">
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_Blog_config" doc:name="HTTP Request configuration" doc:id="47f0341d-797f-4f85-9fc6-f6e310370cff" basePath="/api/blog">
		<http:request-connection host="localhost" port="8080" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_Twitter_config" doc:name="HTTP Listener config" doc:id="4b7c71c5-6628-42da-8a5e-437ff55b2a47" basePath="/twitter" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="getBlogPosts" doc:id="9653708f-243b-42e9-b04b-73f2c7f9f9d8" >
		<http:listener doc:name="Listener" doc:id="4ab28dcc-b74e-42dd-83fa-21eb6a681566" config-ref="HTTP_Listener_Blog_config" path="/"/>
		<http:request method="GET" doc:name="Request" doc:id="d60438a0-397f-46a8-9d66-df262eb15420" config-ref="HTTP_Request_Blog_config" path="/"/>
		<file:write doc:name="Write" doc:id="74481aec-1a5b-4304-a95c-25d5aa89026b" path="C:\Developmnet\FlightSchool\Esb\rezek-second-project-assigment\files\getBlogPostsResult.txt"/>
	</flow>
	<flow name="getBlogPost" doc:id="995c77a6-95cc-4b63-b75e-7738233fd107" >
		<http:listener doc:name="Listener" doc:id="41fb2844-52de-4842-b209-65492aa36d4f" config-ref="HTTP_Listener_Blog_config" path="/{id}" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="ddd18e86-85c1-4f0c-a909-0416592e4fa8" path="/{id}" config-ref="HTTP_Request_Blog_config">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : message.attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<file:write doc:name="Write" doc:id="00ef302c-cfc9-4c33-aea2-4eafe231ca20" path="C:\Developmnet\FlightSchool\Esb\rezek-second-project-assigment\files\getBlogPostResult.txt"/>
	</flow>
	<flow name="deleteBlogPost" doc:id="576a89f7-e959-4ed9-863d-27f4f5c4d18c" >
		<http:listener doc:name="Listener" doc:id="924e29c1-1b51-44ba-a8af-5e41dc5959ad" config-ref="HTTP_Listener_Blog_config" path="/{id}" allowedMethods="DELETE">
			<http:error-response statusCode="#[vars.status default 400]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<file:write doc:name="Write" doc:id="50c0aa98-01bd-40d7-9e3a-dde3e2b959ea" path="C:\Developmnet\FlightSchool\Esb\rezek-second-project-assigment\files\delete\request.json">
			<file:content ><![CDATA[#[output application/json
---
attributes]]]></file:content>
		</file:write>
		<http:request method="DELETE" doc:name="Request" doc:id="7df67706-5c98-4c2e-a3ff-76d00453a141" config-ref="HTTP_Request_Blog_config" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : message.attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="9473f0bf-3f4c-49e1-a95a-cc96c72dfd99" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
{	
"message" : "Resource deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="4409af9a-9a6f-4119-a4f3-ea1cf8f3dad1" path="C:\Developmnet\FlightSchool\Esb\rezek-second-project-assigment\files\delete\response.json">
			<file:content ><![CDATA[#[output application/json
---
{	
"message" : "Resource deleted"
}]]]></file:content>
		</file:write>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="eb7a23b8-fc5b-4fb7-9cfd-9923e5ce0a9a" type="HTTP:BAD_REQUEST, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
			<ee:transform doc:name="Transform Message" doc:id="f688dc5a-c1db-47fc-ac65-650e22164a6c">
				<ee:message>
					<ee:set-payload><![CDATA[output application/json
---
{	
"message" : "Something went wrong"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c941084d-7b07-4bc5-b136-2ecf1fd74494" type="HTTP:NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="0c4997b8-b114-4af7-bf0f-5d31f7b5e86c">
					<ee:message>
						<ee:set-payload><![CDATA[output application/json
---
{	
"message" : "Resource not found on platform"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
					</ee:variables>
				</ee:transform>
				<file:write doc:name="Write" doc:id="2859f4a8-b345-4626-b606-729b04f6e4e3" path="C:\Developmnet\FlightSchool\Esb\rezek-second-project-assigment\files\delete\response.json" />
				<set-variable value="404" doc:name="Set status 404" doc:id="24268a72-cc74-4300-93c7-d70c6e296b7f" variableName="status"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getTwitterMessages" doc:id="12d83687-be2e-4135-a1d3-877d0fbd2d81" >
		<http:listener doc:name="Listener" doc:id="d7f6da77-f074-42d4-af68-517228d7a500" config-ref="HTTP_Listener_Twitter_config" path="/"/>
		<file:write doc:name="Write" doc:id="cc282ed9-07a3-44ee-816c-80665ad02923" path="C:\Developmnet\FlightSchool\Esb\rezek-second-project-assigment\files\twitter.txt">
			<file:content ><![CDATA[#["i'm writting twitter messages"]]]></file:content>
		</file:write>
	</flow>
</mule>
